S3method(print,Build)
S3method(print,Project)
S3method(print,Version)
export(Project)
export(builder.cacheSweave)
export(builder.knitr)
export(builder.rnw)
export(builder.tex)
export(calendarHeat)
export(env2string)
export(getDefaultBuilder)
export(getRSSFeed)
export(isAutoOpen)
export(isAutoSave)
export(setAutoOpen)
export(setAutoSave)
export(setDefaultBuilder)
import(XML)
import(tools)
